<div class="container">
  <div class="row">
    <h1>「犬と私のワンダフルライフ」は、悩めるご主人たちの救世主！<br>
      忘れてしまいがちな投薬の管理から、愛すべき家族の投稿広場まで<br>
      たくさんの機能が詰まっています。<br>
      さあ、かけがえのない家族とともにワンダフルな毎日を過ごしましょう！
    </h1>
  </div>
</div>