<div class="container mt-5">
  <div class="row">
    <div class="col-11 mx-auto">
      <h2>「犬と私のワンダフルライフ<i class="fas fa-paw"></i>」は、悩めるご主人たちの救世主！<br>
        忘れてしまいがちな投薬の管理から、愛すべき家族の投稿広場まで<br>
        たくさんの機能が詰まっています。<br>
        さあ、かけがえのない家族とともにワンダフルな毎日を過ごしましょう！<br>
      </h2>
    </div>
  </div>
</div>