// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .bg-slider {
//   background-image: url('/assets/jamie-street-wcO2PWLuQ3U-unsplash.jpg');
//   background-size: cover;
//   background-position: top center;
// }

.bg-slider {
	background-position: top center;
	background-size: cover;
}

.main-container {
  height: 800px;
}

.site-title {
  color: #ffffff;
}